#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50
}

.loginbody[data-v-136eba89] {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden
}

.login[data-v-136eba89] {
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 16px;
    background-position: 0 0;
    background-color: #242645;
    color: #fff;
    font-family: Source Sans Pro;
    position: relative;
    background-image: url(../img/bkg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.inner[data-v-136eba89] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50vw;
    height: 40vh
}

.login_title[data-v-136eba89] {
    text-align: center;
    color: #505458
}